<carousel>

    <slide>

        <img scr="/assets/images/hero1.png" alt="first slide" style="display: block ;width:100%;">
    </slide>
    <slide>

        <img scr="/assets/images/hero2.png" alt="first slide" style="display: block ;width:100%;">
    </slide>
    <slide>

        <img scr="/assets/images/hero3.png" alt="first slide" style="display: block ;width:100%;">
    </slide>
</carousel>
<section class="featured">

<div class="d-flex justify-content-center pt-4">
<h1>Welcome to the shop </h1>
</div>
</section>